<article class="recipe">
    <div class="recipe-cover">
        {% if recipe.cover %}
            <img src="{{ recipe.cover.url }}" alt="{{ recipe.title }}" />
        {% else %}
            <img src="https://image-placeholder.com/images/actual-size/1024x768.png" alt="{{ recipe.title }}" />
        {% endif %}
    </div>

    <div class="recipe-body">
        <h2 class="recipe-title">{{ recipe.title }}</h2>

        <div class="recipe-meta">
            <span class="recipe-meta-item">
                <i class="fas fa-user"></i>
                {{ recipe.author }}
            </span>

            <span class="recipe-meta-item">
                <i class="fas fa-calendar-alt"></i>
                {{ recipe.created_at|date:"d/m/Y - H:i" }}
            </span>

            <span class="recipe-meta-item">
                <i class="fas fa-layer-group"></i>
                <a href="/recipes/category/{{ recipe.category|slugify }}/">
                    {{ recipe.category }}
                </a>
            </span>
        </div>

        <div class="recipe-content">
            <p>{{ recipe.description }}</p>
        </div>

        <footer class="recipe-footer">
            <a class="recipe-read-more button button-dark button-full-width" href="{% url 'recipe-view' recipe.id %}">Ver mais</a>
        </footer>
    </div>
</article>
