{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://image-placeholder.com/images/actual-size/1024x768.png" alt="Recipe placeholder">
                </div>
                <h1>Olá, seja bem-vindo!</h1>
            </div>
        </div>
    </main>

    {% comment %} {% include 'recipes/partials/footer.html' %} {% endcomment %}
</body>

</html>
